.leftText {
  margin-top: 80px;
}

.leftText p {
  font-size: 15px;
  color: #4f5665;
}

.leftText h1 {
  color: #0b132a;
  text-shadow: 0px 2px 4px #ba55d3;
}

.leftText button {
  color: #fff;
  background-color: #ba55d3;
  width: 200px;
  font-weight: bold;
  padding: 17px 5px;
  box-shadow: 20px 15px 30px 9px rgba(186, 85, 211, 0.35);
}

.cardBody h1 {
  font-size: 23px;
  color: #0b132a;
  font-weight: 700;
}

.cardBody p {
  color: #4f5665;
  font-size: 18px;
}

.features h1 {
  color: #0b132a;
  font-weight: 500;
}

.features p {
  color: #4f5665;
  font-size: 16px;
}
.features li {
  color: #4f5665;
  font-size: 14px;
}
.features ul {
  list-style: none;
  padding-left: 0px !important;
}
.features ul li::before {
  content: "\25AA"; /* Add content: \2022 is the CSS Code/unicode for a 
  bullet */
  color: #ba55d3; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* 
  Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
}

.choosePlan {
  background: linear-gradient(to bottom, #f8f8f8, rgba(248, 248, 248, 0));
  padding-top: 80px;
}

.choosePlan p {
  color: #4f5665;
  font-size: 14px;
}

.choosePlan h1 {
  color: #0b132a;
  font-weight: 500;
}
.choosePlan h3 {
  margin-top: 22px;
  margin-bottom: 30px;
  color: #0b132a;
  font-size: 18px;
}
.choosePlan h2 {
  margin-bottom: 18px;
  color: #0b132a;
  font-size: 22px;
}

.choosePlan button {
  color: #ba55d3;
  border: 2px solid #ba55d3;
  font-size: 15px;
  width: 170px;
}

.testimonials {
  padding-top: 50px;
}

.testimonials p {
  color: #4f5665;
  font-size: 14px;
}
.testimonials span {
  color: #4f5665;
  font-size: 12px;
}

.testimonials h1 {
  color: #0b132a;
  font-weight: 500;
}

.testimonials h4 {
  color: #0b132a;
  font-size: 16px;
}

.subscription {
  position: absolute;
  top: 45%;
  right: 2.5%;
}
.subscription p {
  color: #4f5665;
  font-size: 14px;
}

.subscription h1 {
  color: #0b132a;
  font-weight: 500;
  font-size: 33px;
}

.subscription button {
  color: #fff;
  background-color: #ba55d3;
  width: 200px;
  font-weight: bold;
  padding: 17px 5px;
  box-shadow: 20px 15px 30px 9px rgba(186, 85, 211, 0.35);
}

.subscription button:hover {
  color: #ba55d3;
  background-color: #fff;
  border: 1px solid #ba55d3;
  width: 220px;
}

.cards {
  min-height: 700px;
}

.cards:hover {
  border: 1px solid #ba55d3;
}
.card2:hover {
  border: 1px solid #ba55d3;
}

.cards:hover button {
  color: #fff;
  background-color: #ba55d3;
}

.cards button:focus {
  border: none;
  outline: 0;
}

/* Responsiveness */

@media only screen and (max-width: 425px) {
  .leftText {
    margin-top: 0px;
    text-align: center;
  }

  .leftText button {
    margin-bottom: 2rem;
  }

  .cardBody > div {
    border: none !important;
    justify-content: space-between !important;
    padding: 0px !important;
  }

  .features {
    text-align: center;
  }

  .subscription div > div {
    flex-direction: column;
  }
  .subscription {
    top: 57%;
    right: 0;
  }

  .subscription h1 {
    font-size: 25px;
  }
}
